<script src="../../../../public/static/admin/js/common.js"></script>{include file="../application/admin/view/public/header.html" /}

  <!-- page content -->
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{$name}<small>{$desc}</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />

            <form id="addForm" name="addForm" method="post">
              <div class="form-horizontal form-label-left">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"><span class="required">*</span>资讯分类标题</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" id="cat_name" name="cat_name" placeholder="资讯分类标题">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"><span class="required">*</span>资讯分类父级</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <select id="parent_id" name="parent_id" class="form-control">
                    <option value="0">请选择父级分类</option>
                    {volist name="$all_cate" id="cate"}
                    <option value="{$cate.cat_id}">{$cate.cat_name}</option>
                    {/volist}
                  </select>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                  <button type="reset" class="btn btn-primary">重置</button>
                  <button type="submit" class="btn btn-success">提交</button>
                </div>
              </div>

            </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  <!-- /page content -->

  <!-- 选择弹框 -->
  <div class="modal fade bs-example-modal-sm selectModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="selectModalLabel">提示</h4>
        </div>
        <div class="modal-body">
          <h4>内容</h4>
        </div>
        <div class="modal-footer">
          <button type="button" id="reloadBtn" class="btn btn-default" data-dismiss="modal">继续添加</button>
          <button type="button" id="backBtn" class="btn btn-primary">返回列表<span></span></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /选择弹框 -->

  <!-- 提示弹框 -->
  <div class="modal fade bs-example-modal-sm alertModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="alertModalLabel">提示</h4>
        </div>
        <div class="modal-body">
          <h4>内容</h4>
        </div>
        <div class="modal-footer">
          <button type="button" id="okBtn" class="btn btn-primary" data-dismiss="modal">确定(<span></span>)</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /提示弹框 -->


{include file="../application/admin/view/public/footer.html" /}

    <!-- bootstrap-wysiwyg -->
    <script src="/static/admin/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="/static/admin/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="/static/admin/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="/static/admin/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="/static/admin/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="/static/admin/vendors/select2/dist/js/select2.full.min.js"></script>

    <!-- Autosize -->
    <script src="/static/admin/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="/static/admin/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="/static/admin/vendors/starrr/dist/starrr.js"></script>

    <script src="/static/lib/ueditor/ueditor.config.js"></script>
    <script src="/static/lib/ueditor/ueditor.all.min.js"></script>

    <script>
        $("#addForm").submit(function (event) {
            event.preventDefault()
            $.ajax({
                url: '/admin/NewsCate/create',
                type: 'POST',
                data: {
                    cat_name: $("#cat_name").val(),
                    parent_id: $("#parent_id").val()
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
//                        $('.selectModal .modal-body h4').text('资讯分类添加成功')
//                        $('.selectModal').modal()
//                        var time = 5
//                        $("#backBtn span").text(time)
//                        var interval = setInterval(function () {
//                            time--
//                            $("#backBtn span").text(time)
//                        }, 1000)
//                        setTimeout(function () {
//                            location.href = '/admin/NewsCate/index'
//                            clearInterval(interval)
//                        }, 5000)
                        timerTip('.selectModal', '资讯分类添加成功', '/admin/NewsCate/index', 5)
                    } else {
                        timerTip('.alertModal', data.msg, null, 5)
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            })
        })

        // 计时器跳转
        function timerTip (modalEl, msg, url, time) {
            $(modalEl + ' .modal-body h4').text(msg)
            $(modalEl).modal()
            var t = time | 5
            var timeout = time * 1000
            $(modalEl + ' .modal-footer button span').text(t)
            var timeTipInterval = setInterval(function () {
                t--
                $(modalEl + ' .modal-footer button span').text(t)
            }, 1000)
            setTimeout(function () {
                if (url) {
                    location.href = url
                } else {
                    $(modalEl).modal('hide')
                }
                clearInterval(timeTipInterval)
            }, timeout)
        }


        // 跳转页面
        $(document).on('click', '#backBtn', function () {
            location.href = '/admin/NewsCate/index'
        })
        $(document).on('click', '#reloadBtn', function () {
            location.reload()
        })

    </script>

