{include file="../application/admin/view/public/header.html" /}

  <!-- page content -->
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{$name}<small>{$desc}</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form id="editForm" name="editForm" method="post">
              <div class="form-horizontal form-label-left">

              <input type="hidden" class="form-control" id="cat_id" name="cat_id" value="{$cateData.cat_id}">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"><span class="required">*</span>资讯分类标题</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" id="cat_name" name="cat_name" placeholder="资讯分类标题" value="{$cateData.cat_name}">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"><span class="required">*</span>资讯分类父级</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <select id="parent_id" name="parent_id" class="form-control">
                    <option value="0">请选择父级分类</option>
                    {volist name="$all_cate" id="cate"}
                    <option value="{$cate.cat_id}"
                      <?php if($cate['cat_id']==$cateData['parent_id']) echo("selected");?>
                      >{$cate.cat_name}</option>
                    {/volist}
                  </select>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                  <button type="reset" class="btn btn-primary">重置</button>
                  <button type="submit" class="btn btn-success">提交</button>
                </div>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  <!-- /page content -->

    <!-- 提示弹框 -->
    <div class="modal fade bs-example-modal-sm alertModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="alertModalLabel">提示</h4>
          </div>
          <div class="modal-body">
            <h4>内容</h4>
          </div>
          <div class="modal-footer">
            <button type="button" id="okBtn" class="btn btn-primary">确定(<span></span>)</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /提示弹框 -->

{include file="../application/admin/view/public/footer.html" /}

    <!-- bootstrap-wysiwyg -->
    <script src="/static/admin/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="/static/admin/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="/static/admin/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="/static/admin/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="/static/admin/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="/static/admin/vendors/select2/dist/js/select2.full.min.js"></script>

    <!-- Autosize -->
    <script src="/static/admin/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="/static/admin/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="/static/admin/vendors/starrr/dist/starrr.js"></script>

    <script src="/static/lib/ueditor/ueditor.config.js"></script>
    <script src="/static/lib/ueditor/ueditor.all.min.js"></script>

    <script>
      $("#editForm").submit(function (event) {
          event.preventDefault()
          $.ajax({
              url: '/admin/NewsCate/update',
              type: 'POST',
              data: $("#editForm").serialize(),
              dataType: 'json',
              success: function (data) {
                  if (data.status) {
                      $('.alertModal .modal-body h4').text('资讯分类更新成功')
                      $('.alertModal').modal()
                      console.log(data)

                      var time = 5
                      $("#okBtn span").text(time)
                      var interval = setInterval(function () {
                          time--
                          $("#okBtn span").text(time)
                      }, 1000)
                      setTimeout(function () {
                          location.href = '/admin/NewsCate/index'
                          clearInterval(interval)
                      }, 5000)

                  } else {
                      console.log('ddd')
                  }
              },
              error: function (error) {
                  console.log(error)
              }
          })
      })

      // 跳转页面
      $(document).on('click', '#okBtn', function () {
          location.href = '/admin/NewsCate/index'
      })
    </script>
