{include file="../application/admin/view/public/header.html" /}

  <!-- page content -->
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{$name}<small>{$desc}</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form id="addForm" name="addForm" method="post" action="/Admin/News/createNews" enctype="multipart/form-data">
              <div class="form-horizontal form-label-left">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"><span class="required">*</span>资讯标题</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" id="news_title" name="news_title" placeholder="资讯标题">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"><span class="required">*</span>资讯分类</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <select class="form-control">
                    <option>Choose option</option>
                    <option>Option one</option>
                    <option>Option two</option>
                    <option>Option three</option>
                    <option>Option four</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">资讯来源</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" id="news_source" name="news_source" placeholder="资讯来源">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">资讯来源链接</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="text" class="form-control" id="news_source_link" name="news_source_link" placeholder="资讯来源链接">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">资讯关键词</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input id="tags_1" name="news_keywords" type="text" class="tags form-control" value="social, adverts, sales" />
                  <div id="" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">资讯描述
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <textarea class="form-control" id="news_description" name="news_description" rows="3"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-12 control-label">是否启用
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="news_isopen" name="news_isopen" class="flat" checked="checked"> 启用
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-12 control-label">是否推荐
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="news_isrecommend" name="news_isrecommend" class="flat"> 推荐
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">特色图片</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input type="file" id="img" name="img" style="margin-top: 6px;" />
                  <div class="preview" style="margin-top: 10px;">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">资讯内容</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <script id="container" name="content" type="text/plain"></script>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                  <button type="reset" class="btn btn-primary">重置</button>
                  <button type="submit" class="btn btn-success">提交</button>
                </div>
              </div>

            </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  <!-- /page content -->

{include file="../application/admin/view/public/footer.html" /}

    <!-- bootstrap-wysiwyg -->
    <script src="/static/admin/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="/static/admin/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="/static/admin/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="/static/admin/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="/static/admin/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="/static/admin/vendors/select2/dist/js/select2.full.min.js"></script>

    <!-- Autosize -->
    <script src="/static/admin/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="/static/admin/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="/static/admin/vendors/starrr/dist/starrr.js"></script>

    <script src="/static/lib/ueditor/ueditor.config.js"></script>
    <script src="/static/lib/ueditor/ueditor.all.min.js"></script>
    <script>
        var ue = UE.getEditor('container', {
          initialFrameHeight: 420
        });
    </script>
